<h1>Listing person_interests</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Area interest</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @person_interests.each do |person_interest| %>
  <tr>
    <td><%= person_interest.person_id %></td>
    <td><%= person_interest.area_interest_id %></td>
    <td><%= link_to 'Show', person_interest %></td>
    <td><%= link_to 'Edit', edit_person_interest_path(person_interest) %></td>
    <td><%= link_to 'Destroy', person_interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person interest', new_person_interest_path %>
