<%= form_for(@session_group) do |f| %>
  <% if @session_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session_group.errors.count, "error") %> prohibited this session_group from being saved:</h2>

      <ul>
      <% @session_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.number_field :duration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
