<h1>Listing session_groups</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Duration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @session_groups.each do |session_group| %>
  <tr>
    <td><%= session_group.date %></td>
    <td><%= session_group.duration %></td>
    <td><%= link_to 'Show', session_group %></td>
    <td><%= link_to 'Edit', edit_session_group_path(session_group) %></td>
    <td><%= link_to 'Destroy', session_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Session group', new_session_group_path %>
