<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @session_group.date %>
</p>

<p>
  <b>Duration:</b>
  <%= @session_group.duration %>
</p>


<%= link_to 'Edit', edit_session_group_path(@session_group) %> |
<%= link_to 'Back', session_groups_path %>
