<%= form_for(@event_group) do |f| %>
  <% if @event_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_group.errors.count, "error") %> prohibited this event_group from being saved:</h2>

      <ul>
      <% @event_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.time_select :end %>
  </div>

    <%= fields_for(@group_area) do |ga| %>
        <div class="field">
          <%= ga.label 'All Areas' %><br />
          <%= collection_select(:area_of_interest, :id , @areas, :id ,:name,{}, {:multiple => true})  %>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'All Locations' %><br />
      <%= collection_select(:location, :id , @locations, :id ,:title,{:include_blank => true}, {:include_blank => true})  %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
