<h1>Listing event_groups</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Duration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_groups.each do |event_group| %>
  <tr>
    <td><%= event_group.date %></td>
    <td><%= event_group.duration %></td>
    <td><%= link_to 'Show', event_group %></td>
    <td><%= link_to 'Edit', edit_event_group_path(event_group) %></td>
    <td><%= link_to 'Destroy', event_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event group', new_event_group_path %>
