<h1>Listing messages</h1>
<p><%= link_to "All", {:controller => "messages", :action => "index"} %>
<%= link_to "To Read Only", {:controller => "messages", :action => "index", :read=>'false'} %>
<%= link_to "Read Only", {:controller => "messages", :action => "index", :read=>'true'} %> </p>
<table>
  <tr>
    <th>Content</th>
    <th>Read</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.content %></td>
    <td><%= message.read %></td>
    <td><%= message.email %></td>
    <td><%= mail_to message.email, 'Send response', :subject => "Response to message"%></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

