<h1>Listing messages</h1>
<p><%= link_to "All", {:controller => "messages", :action => "index"}, :class=> 'classname' %>
<%= link_to "Not Read", {:controller => "messages", :action => "index", :read=>'false'}, :class=> 'classname' %>
<%= link_to "Read", {:controller => "messages", :action => "index", :read=>'true'}, :class=> 'classname' %> </p>
<table>
  <tr>
    <th>Content</th>
    <th>Read</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.content %></td>
    <td><%= message.read %></td>
    <td><%= message.email %></td>
    <td><%= mail_to message.email, 'Send response', :subject => "Response to message"%></td>
    <td><%= link_to 'Show', message , :class=> 'classname'%></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' , :class=> 'classname'} %></td>
  </tr>
<% end %>
</table>

<br />

