<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @message.content %>
</p>

<p>
  <b>Person:</b>
  <%= @message.person.email %>
</p>

<p><%= mail_to @message.person.email, 'Send response', :subject => "Response to message"%></p>

<%= link_to 'Back', messages_path %>
