<h1>Listing sessions</h1>

<table>
  <tr>
    <th>Trails</th>
    <th>Genng</th>
    <th>Description</th>
    <th>Type</th>
    <th>Date</th>
    <th>Duration</th>
    <th>Grourails</th>
    <th>Genera</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sessions.each do |session| %>
  <tr>
    <td><%= session.trails %></td>
    <td><%= session.genng %></td>
    <td><%= session.description %></td>
    <td><%= session.type %></td>
    <td><%= session.date %></td>
    <td><%= session.duration %></td>
    <td><%= session.grourails %></td>
    <td><%= session.genera %></td>
    <td><%= link_to 'Show', session %></td>
    <td><%= link_to 'Edit', edit_session_path(session) %></td>
    <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Session', new_session_path %>
