<p id="notice"><%= notice %></p>

<p>
  <b>Trails:</b>
  <%= @session.trails %>
</p>

<p>
  <b>Genng:</b>
  <%= @session.genng %>
</p>

<p>
  <b>Description:</b>
  <%= @session.description %>
</p>

<p>
  <b>Type:</b>
  <%= @session.type %>
</p>

<p>
  <b>Date:</b>
  <%= @session.date %>
</p>

<p>
  <b>Duration:</b>
  <%= @session.duration %>
</p>

<p>
  <b>Grourails:</b>
  <%= @session.grourails %>
</p>

<p>
  <b>Genera:</b>
  <%= @session.genera %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
