<% if @notes.any? %>
    <table class='limited_content_listed p90'>
      <tr>
        <th>Note</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @notes.each do |note| %>
          <tr>
            <td class="limited_content p90"><%= note.content %></td>
            <td class="p5"><%= link_to "Show", {:controller => "notes", :action => "show_on_participant", :note => note} %></td>
            <td class="p5"><%= link_to "Edit", {:controller => "notes", :action => "edit_on_participant", :note => note} %></td>
            <td class="p5"><%= link_to "Destroy", {:controller => "notes", :action => "destroy_on_participant", :note => note}, :method => 'post' %></td>
          </tr>
      <% end %>
<% else %>
    <p>You haven't added notes about this person!</p>
<% end %>

</table>
<p><%= link_to "New Note", {:controller => "notes", :action => "new_on_participant", :participant_id => @participant.id} %></p>

