<h1>Notes</h1>
<% if @notes.any? %>
<table>
  <tr>
    <th>About</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @notes.each do |note| %>
      <tr>
        <% if note.about_person %>
            <td><%= link_to note.about_person.person.prefix<<" "<<note.about_person.person.first_name<<" "<<note.about_person.person.last_name,  '/user/show_all_participants/?id='+note.about_person.person_id.to_s %></td>
        <% else
             if note.about_event %>
                <td><%= link_to note.about_event.event.title, '/user_program/show_event/?id='+note.about_event.event_id.to_s %> </td>

            <% else %>
                <td>Nothing</td>
            <% end %>
        <% end %>
        <td class="limited_content"><%= note.content %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, :method => :delete, :data => {:confirm => 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>
<p><%= link_to 'Export', {:controller => "notes", :action => 'export'} %>  </p>

<% else %>
    <p>No notes yet!</p>
<% end %>

<p><%= link_to 'New Note', new_note_path %> </p>
