<h1 class="centralized">Notes</h1>
<% if @notes.any? %>
    <table class="p90">
      <tr>
        <th class="bottom_border p20">About</th>
        <th class="bottom_border">Content</th>
        <th class="bottom_border p5"></th>
        <th class="bottom_border p5"></th>
        <th class="bottom_border p5"></th>
      </tr>

      <% @notes.each do |note| %>
          <tr>
            <td class="right_border bottom_border">
              <% found = (note.about_person || note.about_event) %>
              <% found2 = (note.about_person && note.about_event) %>
              <% if note.about_person %>
                  <%= link_to note.about_person.person.full_name, '/user/show_all_participants/?id='+note.about_person.person_id.to_s %>

              <% end %>
              <% if found2 %>
                  &
              <% end %>
              <% if note.about_event %>
                  <%= link_to note.about_event.event.title, '/user_program/show_event/?id='+note.about_event.event_id.to_s %>

              <% end %>

              <% if !found %>
                  Nothing.
              <% end %>
            </td>
            <td class="limited_content bottom_border right_border"><%= note.content %></td>
            <td class="bottom_border"><%= link_to 'Edit', edit_note_path(note), :class => 'classname' %></td>
            <td class="bottom_border"><%= link_to 'Delete', note, :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => 'classname' %></td>
          </tr>
      <% end %>
    </table>
    <p class="centralized"><%= link_to 'Export', {:controller => "notes", :action => 'export'}, :class => 'classname' %>  </p>

<% else %>
    <p class="centralized">No notes yet!</p>
<% end %>

<p class="centralized"><%= link_to 'New Note', new_note_path, :class => 'classname' %> </p>
