<p id="notice"><%= notice %></p>
<% if @event %>
    <div class='right border'>
      <p><b>About event:</b></p>

      <p><%= link_to @event.title, '/user_program/show_event?id='+@event.id.to_s %></p>
      <p><b>Date: </b><%= @event.event_group.date.to_date.to_s %></p>
      <p><b>Begin: </b><%= @event.begin.strftime("%I:%M:%S") %></p>
      <p><b>End: </b><%= @event.end.strftime("%I:%M:%S") %></p>

    </div>
<% end %>
<p>
  <b>Content:</b>
  <%= @note.content %>
</p>


<%= link_to 'Edit', '/notes/edit_on_event?note='+@note.id.to_s %> |
<%= link_to 'Back', '/user_program/show_event/?id='+@event.id.to_s %>

<hr style='opacity: 0'>