<p id="notice"><%= notice %></p>
<% if @person %>
    <div class='right'>
      <p><b>About:</b></p>
      <% if @person.photo.nil? %>
          <img src='/images/defaultPerson150.jpg' alt='No Photo'>
      <% else %>
          <img src='/people/<%= @person.photo %>' alt='Photo' class='person_image'>
      <% end %>

      <p><%= link_to @person.full_name, '/user/show_all_participants?id='+@person.id.to_s %></p>

      <p>Affiliation: <%= @person.affiliation %> </p>

      <p>Email: <%= @person.email %> </p>
    </div>
<% end %>
<p>
  <b>Content:</b>
  <%= @note.content %>
</p>


<%= link_to 'Edit', '/notes/edit_on_participant?id='+@person.id.to_s %> |
<%= link_to 'Back', '/user/show_all_participants?id='+@person.id.to_s %>

<hr style='opacity: 0'>