<% if @person %>
    <div class='right'>
      <p><b>About person:</b></p>
      <% if @person.photo.nil? %>
          <img src='/images/defaultPerson150.jpg' alt='No Photo'>
      <% else %>
          <img src='/user/get_profile_image?name=<%= @person.photo %>' alt='Photo' class='person_image'>
      <% end %>

      <p><%= link_to @person.full_name, '/user/show_all_participants?id='+@person.id.to_s %></p>

      <p>Affiliation: <%= @person.affiliation %> </p>

      <p>Email: <%= @person.email %> </p>
    </div>
<% end %>
<% if @event %>
    <div class='right'>
      <p><b>About event:</b></p>

      <p><%= link_to @event.title, '/user_program/show_event?id='+@event.id.to_s %></p>
      <p><b>Date: </b><%= @event.event_group.date.to_date.to_s %></p>
      <p><b>Begin: </b><%= @event.begin.strftime("%I:%M:%S") %></p>
      <p><b>End: </b><%= @event.end.strftime("%I:%M:%S") %></p>
    </div>
<% end %>
<p>
  <b>Content:</b>
  <%= @note.content %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>

<hr style='opacity: 0'>