<p id="notice"><%= notice %></p>
<% if @person %>
    <div class='right border'>
      <p>About:</p>
      <% if @person.photo.nil? %>
          <img src='/images/defaultPerson.jpg' alt='No Photo'>
      <% else %>
          <img src='/people/<%= @person.photo %>' alt='Photo' class='person_image'>
      <% end %>

      <p><%= @person.prefix %> <%= @person.first_name %> <%= @person.last_name %></p>

      <p>Affiliation: <%= @person.affiliation %> </p>

      <p>Email: <%= @person.email %> </p>
    </div>
<% end %>
<% if @event %>
    <div class='right border'>
      <p>About:</p>

      <p><%= link_to @event.title, '/user_program/show_event?id='+@event.id.to_s %></p>
      <p>Date: <%= @event.event_group.date.to_date.to_s %></p>
      <p>Begin: <%= @event.begin.strftime("%I:%M:%S") %></p>
      <p>End: <%= @event.end.strftime("%I:%M:%S") %></p>
    </div>
<% end %>
<p>
  <b>Content:</b>
  <%= @note.content %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
