<h1>Listing people</h1>

<table>
  <tr>
    <th>Prefix</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Affiliation</th>
    <th>Email</th>
    <th>Email sent for sign up</th>
    <th>Photo link</th>
    <th>Signed up</th>
    <th>Chosen theme</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @people.each do |person| %>
      <tr>
        <td><%= person.prefix %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.affiliation %></td>
        <td><%= person.email %></td>
        <% if person.signup_code %>
            <td>Yes</td>
        <% else %>
            <td>No</td>
        <% end %>
        <td><%= person.photo %>
          <% if person.registry %>
            <td>Yes</td>
        <% else %>
            <td>No</td>
        <% end %>

        <td><%= person.theme %></td>

        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: {confirm: 'Are you sure? The person will not be able to use the sent signup code or login.'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Person', new_person_path %>
