<h1>Welcome administrator!</h1>

<%= link_to 'Administrators', administrators_path %>
<br />
<%= link_to 'New Area of interest', area_of_interests_path %>
<br />
<%= link_to 'Authors', authors_path %>
<br />
<%= link_to 'Documents', documents_path %>
<br />
<%= link_to 'EventDocuments', event_documents_path %>
<br />
<%= link_to 'Event groups', event_groups_path %>
<br />
<%= link_to 'Feedback', feedbacks_path %>
<br />
<%= link_to 'Locations', locations_path %>
<br />
<%= link_to 'Messages', messages_path %>
<br />
<%= link_to 'Organization notifications', org_notifications_path %>
<br />
<%= link_to 'People', people_path %>
<br />
<%= link_to 'Speakers', speakers_path %>










