<p id="notice"><%= notice %></p>
<p>
  <b>Participant:</b>
<% if @author.person_id %>
   <%= @author.person.full_name %>

<% else %>
    Has no participant.
<% end %>
</p>
<p>
  <b>Name:</b>
  <%= @author.name %>
</p>

<p>
  <b>Document title:</b>
  <%= @author.document.title %>
</p>

<p>
  <b>Document description:</b>
  <%= @author.document.description %>
</p>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
