<h1>New Topic</h1>
<%= form_for(@networking, :url => url_for(:controller => 'user_networking', :action => 'create')) do |f| %>
    <% if @networking.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@networking.errors.count, "error") %> prohibited this info from being saved:</h2>

          <ul>
            <% @networking.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <br/>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :content %>
      <br/>
      <%= f.text_area :content %>
    </div>
    <table>
      <% @areas_of_interest.each do |interest| %>
          <tr>
            <div class="field">
              <td><%= label_tag(interest.id, interest.name) %>  </td>
              <td><%= check_box_tag('interests[]', interest.id) %>  </td>
            </div>
          </tr>
      <% end %>
    </table>
    <div class="actions inline">
      <%= f.submit( :class=>'classname')%>
    </div>
<% end %>
<%= link_to 'Back', {:controller => 'user_networking', :action => 'index'}, :method => 'get', :class=>'classname' %>

