html = "<div>"
html = "<div id='person_networking' class='border'>"
<% if @networking.person.photo.nil? %>
html += "<img src='/images/defaultPerson.jpg' alt='No Photo' class='person_image'>"
<% else %>
html += "<img src='/people/<%= @networking.person.photo %>' alt='Photo' class='person_image'>"
<% end %>
<% person = @networking.person %>

html += "<p><%= escape_javascript(link_to person.prefix<<' '<<person.first_name<<' '<<person.last_name,  {:controller => "user", :action => "show_all_participants", :id => person.id}) %></p> "
html += "<p><%= @networking.person.affiliation %> </p> "

html += "</div>"
html += "<p>Title: <%= @networking.title %> </p> "
html += "<p>Content:</p>"
<% @networking.content.split(/\r\n/).each do |line| %>
html += "<p><%= line %></p>"
<% end %>

<% if @networking.area_of_interests.any? %>

<% len = @networking.area_of_interests.length %>

html += "<p>Interests: </p>"
html += "<p>"
<% @networking.area_of_interests.each_with_index do |interest, index| %>
<% if index+1 == len   %>
html += "<%= interest.name %>."
<% else    %>
html += "<%= interest.name %>, "
<% end %>
<% end %>
html += "</p>"
<% end %>

html += "</div>"

$("#networking").fadeOut("slow", function () {
    $(this).empty().append(html).fadeIn();
})