<%= form_for(@program_version) do |f| %>
  <% if @program_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program_version.errors.count, "error") %> prohibited this program_version from being saved:</h2>

      <ul>
      <% @program_version.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :version %><br />
    <%= f.number_field :version %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
