<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Event kind:</b>
  <%= @event.event_kind %>
</p>

<p>
  <b>Begin:</b>
  <%= @event.begin %>
</p>

<p>
  <b>End:</b>
  <%= @event.end %>
</p>

<p>
  <b>Event group:</b>
  <%= @event.event_group_id %>
</p>


<%= link_to 'Edit', edit_event_group_event_path(@event) %> |
<%= link_to 'Back', event_group_events_path %>
