html =  "<div>"

<% if @participant.photo.nil? %>
html += "<img src='/images/defaultPerson150.jpg' alt='No Photo'>"
<% else %>
html += "<img src='/people/<%= @participant.photo %>' alt='Photo'>"
<% end %>

html += "<p>Name: <%= @participant.full_name %></p> "

html += "<p>Affiliation: <%= @participant.affiliation %> </p> "

html += "<p>Email: <%= @participant.email %> </p> "

html += "<div class='border'>"
<% if @interests.any? %>

<% len = @interests.length %>

html += "<p>Interests: </p>"
html += "<p>"
<% @interests.each_with_index do |interest, index| %>
        <% if index+1 == len   %>
        html += "<%= interest.name %>."
        <% else    %>
        html += "<%= interest.name %>, "
<% end %>
<% end %>
html += "</p>"

<% else %>
html += "<p><%= @participant.first_name %> has not added any interests yet! </p> "
<% end %>

html += "</div>"

html += "<div class='border'>"
<% if @participant.biography.nil? %>
html += "<p><%= @participant.first_name %> has not added a personal description yet! </p> "
<% else %>
html += "<p>Personal Description:</p>"
<% @participant.biography.split(/\r\n/).each do |line| %>
html += "<p><%= line %></p>"
<% end %>
<% end %>

html += "</div>"

html += "<form name='input' id = 'send_accept_button' action='/user_contacts/accept_request?id=<%= @participant.id %>' method='post' data-remote='true'>"
html += "<input type='submit' value='Accept'>"
html += "</form>"

html += "<form name='input' id = 'send_reject_button' action='/user_contacts/reject_request?id=<%= @participant.id %>' method='post' data-remote='true'>"
html += "<input type='submit' value='Reject'>"
html += "</form>"
html += "</div>"

$("#profile_received").fadeOut("slow", function() { $(this).empty().append(html).fadeIn(); })