
$('#user_data').append("<p><%= @person.prefix %></p> ")
$('#user_data').append("<p><%= @person.first_name %></p> ")
$('#user_data').append("<p><%= @person.last_name %></p> ")
$('#user_data').append("<p><%= @person.affiliation %></p> ")
$('#user_data').append("<p><%= @person.email %></p> ")
$('#user_data').append("<p><%= @person.signup_code %></p> ")