<p id="notice"><%= notice %></p>

<p>
  <b>Hasprivate:</b>
  <%= @contact.hasPrivate %>
</p>

<p>
  <b>Requester:</b>
  <%= @contact.requester_id %>
</p>

<p>
  <b>Requested:</b>
  <%= @contact.requested_id %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
