<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @document.title %>
</p>

<p>
  <b>Description:</b>
  <%= @document.description %>
</p>

<p>
  <b>Link:</b>
  <%= @document.link %>
</p>
<p>Authors:</p>
<% @authors.each do |author| %>
    <% if author.person %>
        <p><%= author.person.full_name %></p>
    <% else %>
        <p><%= author.name %></p>
    <% end %>
<% end %>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
