<% if @already_added %>
//alert("Event was already part of your personal program.")
<% else %>
//alert("Event added to personal program.")
<% end %>

<% if @remove_button %>

$("#event_buttons").fadeOut("slow", function () {
    $(this).empty().append(" <%= escape_javascript( link_to 'Remove from personal program', {:controller => "user_program", :action => "remove_event", :id => @event_id, :internal => true},:method => 'post', :remote => true,:class => 'classname')%>").fadeIn();
})
<% else %>
a = $('#calendar').fullCalendar('getEventByID', <%= @event_id %>)
a.attending=true


<% end %>
$('#e_b_' + <%= @event_id %>).remove();
html =   '<div id = "e_b_<%= @event_id %>"> <form action="/user_program/remove_event?id=<%= @event_id %>" class="button_to" data-remote="true" method="post"><div style="float:left"><input type="submit" value="-"></div></form></div>'
$('#e_S_' + <%= @event_id %>).append(html);