<div class='right'>
  <p><b>Date:</b> <%= @event_group.date.to_date.to_s %></p>

  <p><b>Begin time:</b> <%= @event.begin.strftime("%I:%M") %></p>

  <p><b>End time:</b> <%= @event.end.strftime("%I:%M") %></p>
</div>

<h1><%= @event.event_kind %> - <%= @event.title %></h1>
<% if @speaker %>
    <div>
      <p>
        <b>Speaker: </b><%= link_to @speaker.person.full_name, {:controller => "user", :action => "show_all_participants", :id => @speaker.person.id} %>
      </p>
    </div>
<% end %>
<% len = @authors.length %>
<% if @authors.any? %>
    <div>
      <p><b>Authors: </b>
        <% @authors.each_with_index do |a, index| %>
            <% if a.person %>
                <%= link_to a.person.full_name, {:controller => "user", :action => "show_all_participants", :id => a.person.id} %>
            <% else %>
                <%= a.name %>
            <% end %>
            <% if index+1 == len %>.
            <% else %>,
            <% end %>
        <% end %>
      </p>
    </div>
<% end %>

<% if @location %>
    <div class='right'>
      <p>
        <b>Location:</b> <%= link_to @location.title, {:controller => "user", :action => "maps", :title => {:locations_id => @location.id}} %>
      </p>
    </div>
<% end %>

<% if @documents.any? %>
    <div class='right'>
      <p><b>Documents:</b></p>
      <% @event.documents.each do |doc| %>
          <%= link_to doc.title, {:controller => "user", :action => "download_document", :document_id => doc.id} %></p>
      <% end %>
    </div>
<% end %>

<div>
  <p><b>Description:</b> <%= @event.description %></p>
</div>

<div>
  <% if @event_group.area_of_interests.any? %>
      <% len = @event_group.area_of_interests.length %>
      <p>Areas of interest:
        <% @event_group.area_of_interests.each_with_index do |area, index| %>
            <% if index+1 == len %>
                <%= area.name %>.
            <% else %>
                <%= area.name %>,
            <% end %>
        <% end %>
      </p>
  <% else %>
      <p>There are no areas of interest associated with this event.</p>
  <% end %>
</div>
<hr>
<div id='notes' class='centralized'>
  <%= render(:template => 'notes/index_on_event', :event_id => @event.id) %>
</div>
<hr>
<div class='inline centralized'>
  <%= button_to 'Add to personal calendar', {:controller => "user_program", :action => "add_event", :id => @event.id}, :remote => true %>
<%= button_to 'Remove from personal calendar', {:controller => "user_program", :action => "remove_event", :id => @event.id }, :remote => true%>
</div>
<hr>
<div class='centralized'>
<p><%= link_to "Back to personal program", '/user_program/index/' %></p>
<p><%= link_to "Back to complete program", '/user_program/show_complete/' %></p>
</div>