<div class='centralized'>
  <%= link_to 'Show Personalized', {:controller => "user_program", :action => "index"} %>
  <%= link_to 'Show Complete', {:controller => "user_program", :action => "show_complete"} %>
  <h1>Complete Calendar</h1>
</div>
<div id='calendar'></div>

<script type="text/javascript">
    <% if @theme==1 %>
    c1 = '#A65A00'
    c2 = 'goldenrod'
    <% else
         if @theme==2 %>
    c1 = 'darkgreen'
    c2 = 'limegreen'
    <% else
         if @theme==3 %>
    c1 = 'darkblue'
    c2 = 'cornflowerblue'
    <%end %>
    <%end %>
    <%end %>

    window.onload = function () {
        $('#calendar').empty().fullCalendar({

            defaultView: 'agendaWeek',
            editable: false,
            allDaySlot: false,
            minTime: <%= @min_hour %>,
            maxTime: <%= @max_hour %>,
            year: <%= @begin_year %>,
            month: <%= @begin_month %>,
            date: <%= @begin_day %>,
            firstDay: <%= @begin_weekday %>,

            eventMouseover: function (event, jsEvent, view) {


                if (!event.attending)
                    html = '<form action="/user_program/add_event?id=' + event.id + '" class="button_to" data-remote="true" method="post"><div style="float:left"><input type="submit" value="+"></div></form>'
                if (event.attending)
                    html = '<form action="/user_program/remove_event?id=' + event.id + '" class="button_to" data-remote="true" method="post"><div style="float:left"><input type="submit" value="-"></div></form>'

                $('.fc-event-inner', this).append('<div id="' + event.id + 'hov" class="hover-end">' + html + '</div>');
            },

            eventMouseout: function (event, jsEvent, view) {
                $('#' + event.id + 'hov').remove();
            },

            header: false,
            events: [
                <% @events.each do |event| %>
                <% group = event.event_group %>
                {
                    attending: false,
                    id: '<%= event.id %>',
                    title: '<%= event.event_kind %> - <%= event.title %>',
                    <% if event.event_kind=='Keynote' %>
                    color: c1,
                    <% else if event.event_kind=='Social Event' %>
                    color: c1,
                    <% else %>
                    color: c2,
                    <% end %>
                    <% end %>
                    start: new Date(<%= group.date.year %>, <%= ((group.date.month) -1) %>, <%= group.date.day %>, <%= event.begin.hour %>, <%= event.begin.min %>),
                    end: new Date(<%= group.date.year %>, <%= ((group.date.month) -1) %>, <%= group.date.day %>, <%= event.end.hour %>, <%= event.end.min %>),
                    allDay: false,
                    url: '/user_program/show_event/?id=<%= event.id %>'

                },
                <% end %>
                <% @attending.each do |event| %>
                <% group = event.event_group %>
                {
                    attending: true,
                    id: '<%= event.id%>',
                    title: '<%= event.event_kind %> - <%= event.title %>',
                    <% if event.event_kind=='Keynote' %>
                    color: c1,
                    <% else if event.event_kind=='Social Event' %>
                    color: c1,
                    <% else %>
                    color: c2,
                    <% end %>
                    <% end %>
                    start: new Date(<%= group.date.year %>, <%= ((group.date.month) -1) %>, <%= group.date.day %>, <%= event.begin.hour %>, <%= event.begin.min %>),
                    end: new Date(<%= group.date.year %>, <%= ((group.date.month) -1) %>, <%= group.date.day %>, <%= event.end.hour %>, <%= event.end.min %>),
                    allDay: false,
                    url: '/user_program/show_event/?id=<%= event.id %>'

                },
                <% end %>
            ]
        });

    };
</script>