<%= form_for(@group_area) do |f| %>
  <% if @group_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_area.errors.count, "error") %> prohibited this group_area from being saved:</h2>

      <ul>
      <% @group_area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_group_id %><br />
    <%= f.number_field :event_group_id %>
  </div>
  <div class="field">
    <%= f.label :area_of_interest_id %><br />
    <%= f.number_field :area_of_interest_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
