<h1>Listing group_areas</h1>

<table>
  <tr>
    <th>Event group</th>
    <th>Area of interest</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_areas.each do |group_area| %>
  <tr>
    <td><%= group_area.event_group_id %></td>
    <td><%= group_area.area_of_interest_id %></td>
    <td><%= link_to 'Show', group_area %></td>
    <td><%= link_to 'Edit', edit_group_area_path(group_area) %></td>
    <td><%= link_to 'Destroy', group_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group area', new_group_area_path %>
