<% if flash[:error] %>
    <% flash[:error]=nil %>
    <p>There has been an error!</p>
    <%= link_to "Try again", {:controller => "user", :action => "organization"} %>
<% else %>
    <% if flash[:notice] %>
        <% flash[:notice]=nil %>
        <p>Thank you!</p>
        <%= link_to "Back to Schedule", {:controller => "user", :action => "program"} %>
    <% else %>
        <h1>Feedback</h1>
        <%= form_for @feedback, :url => {:controller => 'user', :action => 'feedback'} do |f| %>
            <% if @feedback.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this area_of_interest from being
                    saved:</h2>

                  <ul>
                    <% @feedback.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="field">
              <%= f.label 'Content:'  %>
              <br/>
              <%= f.text_area :content , :placeholder => "Write any message you wish the organization knew, from liking the coffee break or wishing something was diferent, all will do." %>
            </div>
            <div class="actions">
              <%= f.submit('Send feedback', :class => 'classname')%>
            </div>

        <% end %>
    <% end %>
<% end %>