<h1>Contacts</h1>
<%= link_to 'Contacts', :controller => 'user', :action => 'show_contacts'%>
<%= link_to 'Pending', :controller => 'user', :action => 'show_pending_contacts'%>
<%= link_to 'All Participants', :controller => 'user', :action => 'show_all_participants'%>

<p><%= @self %></p>
<p><%= @self.first_name %></p>
<p><%= @contacts %></p>

