<div class="centralized">
  <h1>Participants</h1>
  <div class="inline">
    <%= button_to 'Contacts', {:controller => 'user', :action => 'show_contacts'}, :method => 'get' %>
    <%= button_to 'Pending ('<<@pending_amount.to_s<<')', {:controller => 'user', :action => 'show_pending_contacts'}, :method => 'get' %>
    <%= button_to 'All Participants', {:controller => 'user', :action => 'show_all_participants'}, :method => 'get' %>
    <%= button_to 'Rejected', {:controller => 'user', :action => 'show_rejected_contacts'}, :method => 'get' %>
  </div>
</div>
<% if @participants.any? %>
    <table class="p90">
      <td class="right_border p20">
        <table>
          <tr>
            <th>Photo</th>
            <th>Name</th>
          </tr>

          <% @participants.each do |person| %>
              <tr>
                <td class="bottom_border">
                  <% if person.photo.nil? %>
                      <%= link_to image_tag("/images/defaultPerson100.jpg", :border => 0, :alt => '', :title => 'No Photo'), {:controller => "user", :action => "show_participant", :id => person.id, :remote => true}, :class => 'Item-Image' %>
                  <% else %>
                      <img src='/user/get_profile_image?name=<%= person.photo %>' alt='<%= person.photo %>' class='person_thumbnail'>
                  <% end %>
                </td>
                <td class="bottom_border"><%= link_to person.full_name, {:controller => "user", :action => "show_participant", :id => person.id, :remote => true}, :class => "Item-Text" %></td>

              </tr>
          <% end %>
        </table>
      </td>
      <td id='profile' class='limited_content_listed'>
        <% if @participant %>
            <script type="text/javascript">
                window.onload = function () {
                    $.ajax("/user/show_participant/?id=<%= @participant.id%>");
                };
            </script>
        <% else %>
            <p>Select a participant on the left.</p>
        <% end %>
      </td>
    </table>
    <%= will_paginate @participants %>
<% else %>
    <p class="centralized">No other participants!</p>
<% end %>