html =  "<div>"

  <% if @participant.photo.nil? %>
      html += "<img src='/images/defaultPerson.jpg' alt='No Photo'>"
  <% else %>
      html += "<img src='/people/<%= @participant.photo %>' alt='Photo'>"
  <% end %>

  html += "<p>Name: <%= @participant.prefix %> <%= @participant.first_name %>, <%= @participant.last_name %></p> "

  html += "<p>Affiliation: <%= @participant.affiliation %> </p> "

  html += "<p>Email: <%= @participant.email %> </p> "

  html += "<div class='border'>"
  html += "<p>Interests: </p>"
  html += "<p>"
  <% @interests.each do |interest| %>
      html += "<%= interest.area_of_interest.name %>, "
  <% end %>
  html += "</p>"


  html += "</div>"


  html += "<div class='border'>"
  <% if @participant.biography.nil? %>
      html += "<p><%= @participant.first_name %> has not added a personal description yet! </p> "
  <% else %>
      html += "<p>Personal Description:</p>"
      <% @participant.biography.split(/\r\n/).each do |line| %>
          html += "<p><%= line %></p>"
      <% end %>
  <% end %>
  <% if @request_accepted %>
      html += "<div class='border'>"
      html += "<p>Person's contacts:</p>"

  html += "<table>"
  html += "<tr>"
  html += "<th>Type</th>"
  html += "<th>Value</th>"
  html += "</tr>"

    <% @infos.each do |info| %>
      html += "<tr>"
  html += "<td><%= info.info_type %></td>"
  html += "<td><%= info.value %></td>"
  html += "</tr>"
    <% end %>
  html += "</table>"

      html += "</div>"
  <% else if @request_sent %>
      html += "<p>Contact request is active!</p>"
  <% else if @request_rejected %>
      html += "<p>You rejected this contact!</p>"
  <% else %>
      html += "<form name='input' id='send_request_button' action='/user_contacts/send_request?id=<%= @participant.id %>' method='post' data-remote='true'>"
      html += "<input type='submit' value='Add as contact'>"
      html += "</form> "
          <% end %>
      <% end %>
  <% end %>
  html += "</div>"

html += "</div>"

$("#profile").fadeOut("slow", function() { $(this).empty().append(html).fadeIn(); })
