<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @networking.title %>
</p>

<p>
  <b>Content:</b>
  <%= @networking.content %>
</p>

<p>
  <b>Person:</b>
  <%= @networking.person_id %>
</p>


<%= link_to 'Destroy', networking, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', networkings_path %>
