<h1>Listing removed_notes</h1>

<table>
  <tr>
    <th>Sequence number</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @removed_notes.each do |removed_note| %>
  <tr>
    <td><%= removed_note.sequence_number %></td>
    <td><%= removed_note.person_id %></td>
    <td><%= link_to 'Show', removed_note %></td>
    <td><%= link_to 'Edit', edit_removed_note_path(removed_note) %></td>
    <td><%= link_to 'Destroy', removed_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Removed note', new_removed_note_path %>
