<p id="notice"><%= notice %></p>

<p>
  <b>Sequence number:</b>
  <%= @removed_note.sequence_number %>
</p>

<p>
  <b>Person:</b>
  <%= @removed_note.person_id %>
</p>


<%= link_to 'Edit', edit_removed_note_path(@removed_note) %> |
<%= link_to 'Back', removed_notes_path %>
