<h1 class="centralized">Your Profile</h1>


<div class="right centralized">
  <% if @person.photo.nil? %>
      <img src='/images/defaultPerson150.jpg' alt='No Photo' class='person_image'>
  <% else %>
      <img src='/user/get_profile_image?name=<%= @person.photo %>' alt='Photo' class='person_image'>
  <% end %>
  <%= form_tag({:controller => "user_profile", :action => "upload_photo"}, :multipart => true) do %>
      <p><%= file_field_tag 'upload' %></p>

      <p><%= submit_tag("Upload", :class => 'classname') %> </p>

      <p class='width_125'>Click upload with no file for default.</p>

  <% end %>
</div>


<div>
  <p><b>Name:</b> <%= @person.full_name %></p>

  <p><b>Affiliation:</b> <%= @person.affiliation %></p>

  <p><b>Public email:</b> <%= @person.email %></p>

  <div>
    <p>Theme:</p>
    <%= form_tag({}) do %>
        <%= radio_button_tag(:theme, 1, 1==@selected, :onchange => 'changeTheme();') %>
        <%= label_tag(:theme, "default") %>
        <%= radio_button_tag(:theme, 2, 2==@selected, :onchange => 'changeTheme();') %>
        <%= label_tag(:theme, "green") %>
        <%= radio_button_tag(:theme, 3, 3==@selected, :onchange => 'changeTheme();') %>
        <%= label_tag(:theme, "blue") %>

    <% end %>
  </div>
</div>


<div>
  <p><b>Interesses:</b></p>
  <%= form_tag({:controller => "user_profile", :action => "update"}, :method => 'post', :remote => true) do %>
      <table>
        <% @interests.each do |interest| %>
            <tr>
              <div class="field">
                <td><%= label_tag(interest.area_of_interest.id, interest.area_of_interest.name) %></td>
                <td><%= check_box_tag('interests[]', interest.area_of_interest.id, true) %></td>
              </div>
            </tr>
        <% end %>
        <% @otherInterests.each do |interest| %>
            <tr>
              <div class="field">
                <td><%= label_tag(interest.id, interest.name) %></td>
                <td><%= check_box_tag('interests[]', interest.id, false) %></td>
              </div>
            </tr>
        <% end %>
      </table>


      <div class="field">
        <p><b><%= label_tag('biography', 'Biography:') %></b></p>
        <%= text_area_tag('biography', @person.biography, :size => "100x6") %>
      </div>
      <div class="actions">
        <%= submit_tag("Update", :class => 'classname') %>
      </div>


      <div>
        <p><b>Private Contacts</b></p>
        <% if @person.infos.any? %>
            <table>
              <tr>
                <th>Type</th>
                <th>Value</th>
                <th></th>
              </tr>

              <% @person.infos.each do |info| %>
                  <tr>
                    <td><%= info.info_type %></td>
                    <td><%= info.value %></td>
                    <td><%= link_to 'Destroy', info, :method => :delete, data: {confirm: 'Are you sure?'}, :class => 'classname' %></td>
                  </tr>
              <% end %>
            </table>
        <% else %>
            <p>You have not added any private contacts!</p>
        <% end %>

        <%= link_to 'New Info', new_info_path, :class => 'classname' %>
      </div>
  <% end %>
</div>