<h1>Profile</h1>


<div id="person_photo" class="border">
  <% if @person.photo.nil? %>
      <img src='/images/defaultPerson.jpg' alt='No Photo'>
  <% else %>
      <img src='/people/<%= @person.photo %>' alt='Photo'>
  <% end %>
  <%= form_tag({:controller => "user_profile", :action => "upload_photo"}, :multipart => true) do %>
      <p><%= file_field_tag 'upload' %></p>

      <p><%= submit_tag("Upload") %> </p>
  <% end %>
</div>


<div class="border">
  <p>Name: <%= @person.prefix %> <%= @person.first_name %> <%= @person.last_name %></p>

  <p>Affiliation: <%= @person.affiliation %></p>

  <p>Public mail: <%= @person.email %></p>
</div>

<div class="border">
  <p>Interesses:</p>
  <%= form_tag({:controller => "user_profile", :action => "update_interests"}, :method => 'post', :remote => true) do %>

      <% @interests.each do |interest| %>
          <div class="field">
            <%= label_tag(interest.area_of_interest.id, interest.area_of_interest.name) %>
            <%= check_box_tag('interests[]', interest.area_of_interest.id, true) %>
          </div>
      <% end %>
      <% @otherInterests.each do |interest| %>
          <div class="field">
            <%= label_tag(interest.id, interest.name) %>
            <%= check_box_tag('interests[]', interest.id, false) %>
          </div>
      <% end %>
      <div class="actions">
        <%= submit_tag("Update") %>
      </div>

  <% end %>
</div>


<div class="border">
  <%= form_tag({:controller => "user_profile", :action => "update_biography"}, :method => 'post', :remote => true) do %>
      <div class="field">
        <p><%= label_tag('biography', 'Biography:') %>  </p>
        <%= text_area_tag('biography', @person.biography, :size => "100x6") %>
      </div>
      <div class="actions">
        <%= submit_tag("Update") %>
      </div>

  <% end %>
</div>


<div class="border">
  <p>Private Contacts</p>
  <table>
    <tr>
      <th>Type</th>
      <th>Value</th>
      <th></th>
    </tr>

    <% @person.infos.each do |info| %>
        <tr>
          <td><%= info.info_type %></td>
          <td><%= info.value %></td>
          <td><%= link_to 'Destroy', info, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
  </table>

  <br/>

  <%= link_to 'New Info', new_info_path %>
</div>