<h1>Listing event_documents</h1>

<table>
  <tr>
    <th>Document Title</th>
    <th>Event Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_documents.each do |event_document| %>
  <tr>
    <td><%= event_document.document.title %></td>
    <td><%= event_document.event.title %></td>
    <td><%= link_to 'Show', event_document %></td>
    <td><%= link_to 'Edit', edit_event_document_path(event_document) %></td>
    <td><%= link_to 'Destroy', event_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event document', new_event_document_path %>
