<p id="notice"><%= notice %></p>

<p>
  <b>Document title:</b>
  <%= @event_document.document.title %>
</p>

<p>
  <b>Event title:</b>
  <%= @event_document.event.title %>
</p>

<p>
  <b>Document description:</b>
  <%= @event_document.document.description %>
</p>


<%= link_to 'Edit', edit_event_document_path(@event_document) %> |
<%= link_to 'Back', event_documents_path %>
