<p>
  <b>Title:</b>
  <%= @location.title %>
</p>

<p>
  <b>Internal image name:</b>
  <%= @location.image %>
</p>
<p><b>Image: </b>
  <%= image_tag(@location.image) %>  </p>

<%= link_to 'Back', locations_path %>
<%= link_to 'Destroy', @location, method: :delete, data: { confirm: 'Are you sure you want to delete this map?' } %>
