<%= form_for(@speaker) do |f| %>
  <% if @speaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speaker.errors.count, "error") %> prohibited this speaker from being saved:</h2>

      <ul>
      <% @speaker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :keynote %><br />
    <%= f.check_box :keynote %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br />
    <% people = Person.all.map { |person| [person.prefix<<' '<<person.first_name<<' '<<person.last_name, person.id] } %>
    <%= f.select(:person_id, people )%>

  </div>
  <div class="field">
    <%= f.label :event_id %><br />
    <% events = Event.all.map { |event| [event.title, event.id] } %>
    <%= f.select(:event_id, events )%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
