<p id="notice"><%= notice %></p>

<p>
  <b>Keynote:</b>
  <%= @speaker.keynote %>
</p>

<p>
  <b>Person:</b>
  <% person=@speaker.person %>
  <%= person.full_name %>
</p>

<p>
  <b>Session:</b>
  <%= @speaker.event.title %>
</p>


<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
