<h1>Listing pending_contacts</h1>

<table>
  <tr>
    <th>Requester</th>
    <th>Requested</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pending_contacts.each do |pending_contact| %>
  <tr>
    <td><%= pending_contact.requester_id %></td>
    <td><%= pending_contact.requested_id %></td>
    <td><%= link_to 'Show', pending_contact %></td>
    <td><%= link_to 'Edit', edit_pending_contact_path(pending_contact) %></td>
    <td><%= link_to 'Destroy', pending_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pending contact', new_pending_contact_path %>
