<!DOCTYPE html>
<html>

<head>
  <title>IConfs</title>
  <% if @theme==1 %>
      <%= stylesheet_link_tag "default_theme" %>
  <% else
       if @theme==2 %>
          <%= stylesheet_link_tag "theme_green" %>
      <% else
           if @theme==3 %>
              <%= stylesheet_link_tag "theme_blue" %>
          <% end %>
      <% end %>
  <% end %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery", "jquery_ujs" %>
  <%= javascript_include_tag 'fullcalendar' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='menu'>
  <% if registry_signed_in? == true %>
      <%= render :template => '/layouts/navigation' %>
  <% end %>
  <% if administrator_signed_in? == true %>
      <h1>iConfs - GOD MODE</h1>
      <%= link_to('Home', "/administrator/", :method => :get) %>
      <%= link_to('Sign out!', destroy_administrator_session_path, :method => :delete) %>
  <% end %>
</div>
<div class="body">
  <% if flash[:alert] %>
      <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
      <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>

  <%= yield %>
</div>
</body>
</html>
