<p id='title'><%= link_to "iConfs", {:controller => "user", :action => "program"} %></p>
<div class='nav_bar'>
  <table>
    <tr>
      <td><%= link_to image_tag("Schedule.png", :border => 0, :alt => '', :title => 'Schedule'), {:controller => "user", :action => "program"}, :class => 'nav_bar_image' %></td>
      <td><%= link_to image_tag("Notifications.png", :border => 0, :alt => '', :title => 'Notifications'), {:controller => "user", :action => "notifications"}, :class => 'nav_bar_image' %></td>
      <td><%= link_to image_tag("Networking.png", :border => 0, :alt => '', :title => 'Notifications'), {:controller => "user_networking", :action => "index"}, :class => 'nav_bar_image' %></td>
      <td><%= link_to image_tag("Contacts.png", :border => 0, :alt => '', :title => 'Contacts'), {:controller => "user", :action => "show_contacts"}, :class => 'nav_bar_image' %></td>
      <td><%= link_to image_tag("maps.png", :border => 0, :alt => '', :title => 'Maps'), {:controller => "user", :action => "maps"}, :class => 'Item-Image' %></td>
      <td><%= link_to image_tag("Documents.png", :border => 0, :alt => '', :title => 'Documents'), {:controller => "user", :action => "documents"}, :class => 'Item-Image' %></td>
      <td><%= link_to image_tag("Notes.png", :border => 0, :alt => '', :title => 'Notes'), {:controller => "notes", :action => "index"}, :class => 'nav_bar_image' %></td>
      <td><%= link_to image_tag("Organization.png", :border => 0, :alt => '', :title => 'Organization'), {:controller => "user", :action => "organization"}, :class => 'nav_bar_image' %></td>
    </tr>
    <tr>
      <td><%= link_to "Schedule", {:controller => "user", :action => "program"}, :class => "nav_bar_link" %></td>
      <td><%= link_to "Notifications", {:controller => "user", :action => "notifications"}, :class => "nav_bar_link" %></td>
      <td><%= link_to "Networking", {:controller => "user_networking", :action => "index"}, :class => "nav_bar_link" %></td>
      <td><%= link_to "Contacts", {:controller => "user", :action => "show_contacts"}, :class => "nav_bar_link" %></td>
      <td><%= link_to "Maps", {:controller => "user", :action => "maps"}, :class => "nav_bar_link" %></td>
      <td><%= link_to "Documents", {:controller => "user", :action => "documents"}, :class => "nav_bar_link" %></td>
      <td><%= link_to "Notes", {:controller => "notes", :action => "index"}, :class => "nav_bar_link" %></td>
      <td><%= link_to "Organization", {:controller => "user", :action => "organization"}, :class => "nav_bar_link" %></td>

    </tr>

  </table>

</div>
<ul class="control">
  <li><%= current_registry.person.first_name %> <%= current_registry.person.last_name %> <%= image_tag("Config.png", :border => 0, :alt => '', :title => 'Config') %> </a>
    <ul>
      <li><%= link_to('Profile!', {:controller => "user_profile", :action => "show"}) %></li>
      <li><%= link_to('Sign out!', destroy_registry_session_path, :method => :delete) %></li>
    </ul>
  </li>
</ul>
<%= form_tag("/user_search/search", :method => "get", :class => 'search') do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>
<hr>